sudo: required 

services:
  - docker

before_install:
  - docker build -t dockerproject -f Dockerfile.dev .

script:
  - docker run -e CI=true dockerproject npm run test

deploy:
  provider: elasticbeanstalk
  access_key_id: 
    secure: $ACCESS_KEY_ID
  secret_access_key:
    secure: "$SECRET_ACCESS_KEY"
  region: "us-east-1"
  app: "docker_project"
  env: "Dockerproject-env"
  bucket_name: "elasticbeanstalk-us-east-1-214331254068"
  bucket_path: "docker_project"
  on:
    branch: master
    
    